@import "src/variables.scss";

.description {
  margin: 16px 24px 0 24px;
  font-family: $font-family;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $soft-blue;
  text-align: left;
}